.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  overflow-y: scroll;
  transition: all 250ms $cubic;

  background-color: rgba(0, 0, 0, 0.2);

  &__is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    .backdrop-modal {
      transform: translate(-50%, -170%);
      top: -999px;
    }
  }
}

.backdrop-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 18;
  opacity: 1;

  transform: translate(-50%, -50%);
  transition: all 250ms $cubic;
  width: 450px;
  min-height: 609px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: $bgc-main;

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 9;

//   transition: opacity 250ms $cubic;

//   background-color: rgba(0, 0, 0, 0.2);

//   &__is-hidden {
//     visibility: hidden;
//     opacity: 0;
//     pointer-events: none;

//     .backdrop-modal {
//       transform: translate(-50%, -50%) scale(0.1);
//     }
//   }
// }

// .backdrop-modal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   z-index: 18;
//   opacity: 1;

//   transform: translate(-50%, -50%) scale(1);
//   transition: transform 250ms $cubic, opacity 250ms $cubic, box-shadow 250ms $cubic;
//   min-width: 528px;
//   min-height: 581px;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 4px;

//   background-color: $bgc-main;

//   &__btn {
//     width: 30px;
//     height: 30px;
//     margin-left: auto;
//     margin-top: 8px;
//     margin-right: 8px;
//     cursor: pointer;
//     border-radius: 50%;
//     border: 1px solid rgba(0, 0, 0, 0.1);

//     display: flex;
//     align-items: center;
//     justify-content: center;

//     transition: color 250ms $cubic;

//     background-color: $bgc-main;
//     color: $btn-close;

//     &:hover,
//     &:focus {
//       fill: currentColor;
//     }
//   }

//   &__icon {
//     fill: currentColor;
//   }
// }
