.footer-subscribe {
  @media screen and (min-width: 1200px) {
  }

  &__text {
    @include footer-text;
  }

  &__form {
    display: inline-block;

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
    }
  }

  &__input {
    display: block;
    margin-bottom: 20px;
    padding: 15px 16px;
    outline: none;
    height: 50px;
    width: 450px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: inherit;

    transition: border-color 250ms $cubic;

    background-color: transparent;
    color: #ffffff;

    &:focus {
      border-color: $accent;
    }

    @media screen and (max-width: 479px) {
      width: 100%;
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-bottom: 0;
    }
  }

  &__btn {
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 29px;
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    color: $text-btn;
    background-color: $accent;

    @media screen and (min-width: 1200px) {
      margin: 0 0 0 12px;
    }
  }

  &__icon {
    margin-left: 10px;
  }
}

// .footer-subscribe {
//   margin-left: 93px;
//   padding-top: 12px;

//   &__text{
//     @include footer-text;
//   }

//   &__input {
//     outline: none;
//     padding-left: 16px;
//     height: 50px;
//     width: 358px;
//     border-radius: 4px;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.25;
//     letter-spacing: inherit;

//     transition: border-color 250ms $cubic;

//     background-color: transparent;
//     color: #ffffff;

//     &:focus {
//       border-color: $accent;
//     }
//   }

//   &__btn {
//     margin-left: 12px;
//     border: 1px solid transparent;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     padding: 10px 29px;
//     min-width: 200px;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.88;
//     letter-spacing: 0.06em;
//     cursor: pointer;
//     display: inline-flex;
//     align-items: center;

//     color: $text-btn;
//     background-color: $accent;
//   }

//   &__icon {
//     margin-left: 10px;
//   }
// }
