.footer-soclist {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  &__text {
    @include footer-text;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms $cubic;

    background-color: $bgc-icon-footer;

    &:hover,
    &:focus {
      background-color: $accent;
    }
  }
}
