body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;

  letter-spacing: 0.03em;
  padding-top: 60px;

  background-color: $bgc-main;
  color: $text-main;

  &.modal-open,
  &.menu-open {
    overflow: hidden;
  }
}

.container-wrap {
  max-width: 100%;
  overflow: hidden;
}

.container {
  //   width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: $accent;
}
