.gallery {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.gallery-filters {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  &__item {
    margin-top: 15px;
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__btn {
    padding: 6px 22px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    transform: scale(1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: $text-second;
    background-color: $bgc-btn-portfolio;

    &:hover,
    &:focus {
      transform: scale(1.05);
      color: $text-btn;
      background-color: $accent;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

// .gallery{
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

// .gallery-filters{
//   margin-bottom: 50px;
//   display: flex;
//   justify-content: center;

//   &__item:not(:last-child){
//     margin-right: 8px;
//   }

//   &__btn {
//     padding: 6px 22px;
//     cursor: pointer;
//     border-radius: 4px;
//     border: 1px solid transparent;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.62;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//       background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//       box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     color: $text-second;
//     background-color: $bgc-btn-portfolio;

//     &:hover,
//     &:focus {
//       color: $text-btn;
//       background-color: $accent;
//       box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//         0px 2px 2px rgba(0, 0, 0, 0.12);
//     }
//   }
// }
